 

body {
    background-color: black;
    color: white;
}

.header {
    padding: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bolder;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 15%;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15%;
    z-index: 100;
    background-color: black;
    height: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
}

nav ul li {
    margin-right: 20px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: purple;
    padding: 15%;
}

.highlight {
    color: purple;
    font-size: 95%;
}

.hme{
    margin-left: 1.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top: 7%;
}


#btn1{
    border: 5%;
    border-color: purple;
    border-style: solid;
    border-radius: 50px;
    background-color: black;
    color: white; 
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 3%;
}

.btn2 {
    border: 5%;
    border-color: black;
    border-style: solid;
    border-radius: 50px;
    background-color: purple;
    color: white; 
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 3%;
}

#robin1 {
    margin: 8%;
    height: 75%;
    width: 45%;
    margin-left: 55%;
}
#robin2 {
    height: 65%;
    width: 25%;
    margin-left: 0%;
    padding-left: 0%;
    padding-right: 5%;
}
.abt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 7%;
    padding-top: 10%;
}
p {
    color: white;
    font-weight: bold;
    font-size: x-large;
}
.form {
    display: flex;
    justify-content: center;
}

.bar-graph {
    width: 80%;
    height: 300px;
    border-radius: 8px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
}

.bar {
    width: 30px;
    background-color: purple;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-right: 25%;
    padding: 1%;
    font-weight: bold;
}

.skls {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 7%;
    margin-top: 10%;
    margin-bottom: 30%;
    bottom: 0;
}

.pros {
    margin-top: 10%;
    border: 25%;
    border-color: purple;
    border-style: solid;
    color: purple;
    padding: 15%
}
